@import '@/styles/general.scss';

.title {
  font-weight: bold;
  font-size: 2rem;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 0;
}

.p {
  font-size: 1rem;
  color: $white-color;
  margin-bottom: 1.25rem;
}

.a {
  text-align: left;
  display: block;
}

.a:hover {
  text-decoration: underline;
}