@mixin titleMain {
  font-weight: bold;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  @include titleMain;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.25rem;
  color: $white-color;
  margin-bottom: 1.25rem;
}

.titlePage {
  @include titleMain;
  font-size: 2rem;
}

.backLink {
  text-align: left;
  text-transform: uppercase;
  display: block;
}

.backLink:hover {
  font-style: italic;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}